@{
    var username = ViewContext.HttpContext.Session.GetString("UserName");
    var recent = ViewContext.HttpContext.Session.GetString("PreviousLoginTime");
    var profileImage = ViewContext.HttpContext.Session.GetString("ProfileImage");
}

@{
    ViewData["Title"] = "College Name Student Portal";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Landingstyle.css">
    <link rel="stylesheet" href="~/css/LoginStyle.css">
    <link rel="stylesheet" href="~/css/SignUpStyle.css">
    <link rel="stylesheet" href="~/css/AcademicCalenderStyle.css">
    <link rel="stylesheet" href="~/css/ClassTimeTableStyle.css">
    <link rel="stylesheet" href="~/css/ExaminationCellStyle.css">
    <style>
        .fee-details p {
            font-size: 15px;
            color: #333;
            margin-bottom: 10px;
            margin-left: -200px;
        }
            .fee-details p strong {
                color: #000;
            }

        .fee-details2 p {
            font-size: 15px;
            color: #333;
            margin-bottom: 10px;
            margin-left: -80px;
        }

            .fee-details2 p strong {
                color: #000;
            }
        .payment-btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #00a2ff;
            color: white;
            font-weight: bold;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s ease;
        }

            .payment-btn:hover {
                background-color: #0088cc;
            }

        .main-section {
            padding: 30px;
            background-color: #f9e9e9;
            border-radius: 10px;
            margin: 20px 0;
            margin-left:-20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .dropbtn1 {
            background-color: #333;
            color: white;
            padding: 10px;
            font-size: 14px;
            border: none;
            cursor: pointer;
        }

        .dropdown1 {
            position: relative;
            display: inline-block;
        }

        .dropdown-content1 {
            display: none;
            position: absolute;
            right: 0;
            top:100%;
            background-color: #f9f9f9;
            min-width: 120px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content1 a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content1 a:hover {
                    background-color: #f1f1f1;
                }

        .dropdown1:hover .dropdown-content1 {
            display: block;
        }

        .dropdown1:hover .dropbtn1 {
            background-color: #333;
        }
            </style>


</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <div class="college-logo">
                <a asp-controller="Home" asp-action="RedirectToHome"><img src="~/images/logo.png" alt="College Logo"></a>
            </div>
            <span>College</span>
        </div>
        <nav>
            <ul>
                <li class="dropdown">
                    <a class="sep" href="#"><b>Academics</b></a>
                    <ul class="dropdown-content">
                        <li><a asp-controller="Home" asp-action="AcademicCalender">Academic Calendar</a></li>
                        <li><a asp-controller="Home" asp-action="ClassTimeTable">Class TimeTable</a></li>
                        <li><a asp-controller="Home" asp-action="HolidayList">List Of Holidays</a></li>
                        <li><a asp-controller="ExaminationCell" asp-action="SemwiseAttendence">Semwise Attendance</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="sep" href="#"><b>Examination Cell</b></a>
                    <ul class="dropdown-content">
                        <li><a asp-controller="ExaminationCell" asp-action="ExamTimeTable">Exam Time Table</a></li>
                        <li><a asp-controller="ExaminationCell" asp-action="LabInternalMarks">Internal Marks</a></li>
                        <li><a asp-controller="ExaminationCell" asp-action="SemwiseGradesDetails">Semwise Grades</a></li>
                        <li><a asp-controller="Home" asp-action="SupplyList">Due Subjects</a></li>
                        <li><a asp-controller="Home" asp-action="HallTicket">Hall Ticket Download</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="sep" href="#"><b>Courses</b></a>
                    <ul class="dropdown-content">
                        <li><a asp-controller="Course" asp-action="Btech">BTech Syllabus</a></li>
                        <li><a asp-controller="Course" asp-action="MBA">MBA Syllabus</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="sep" href="#"><b>Library</b></a>
                    <ul class="dropdown-content">
                        <li><a asp-controller="Course" asp-action="GetBooks">Borrowed Books</a></li>
                        <li><a asp-controller="Course" asp-action="GetStatus">Books Status</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="sep" href="#"><b>Fee Structure</b></a>
                    <ul class="dropdown-content">
                        <li><a asp-controller="Home" asp-action="TuitionFee">Tuition Fee</a></li>
                        <li><a asp-controller="Home" asp-action="TransportFee">Hostel&Transportation Fee</a></li>
                        <li><a asp-controller="ExaminationCell" asp-action="RegularFee">Examination Fee</a></li>
                        <li><a asp-controller="Home" asp-action="LibraryFee">Library Fee</a></li>
                        <li><a asp-controller="Home" asp-action="PenaltyFee">Penalty Fee</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="dropdown1" style="display:flex;align-items:center; align-content:center; justify-content:center;justify-items:center">
            <img src="@Url.Content(profileImage)" style="width:32px;height:32px" alt="College Logo">
            <button class="dropbtn1" style="margin-left:10px">@username</button>
            <div class="dropdown-content1">
                <a>Recent Login:@recent</a>
                <a asp-controller="SignUp" asp-action="Logout">Logout</a>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        @RenderSection("Imagelogo1", required: false)
        @RenderSection("academic", required: false)
        @RenderSection("Timetable", required: false)
        @RenderSection("holiday", required: false)
        @RenderSection("Lab", required: false)
        @RenderSection("Grades", required: false)
        @RenderSection("Attendence", required: false)
        @RenderSection("Fee", required: false)
        @RenderSection("Transport", required: false)
        @RenderSection("Regular", required: false)
        @RenderSection("Books", required: false)
        @RenderSection("GetStatus", required: false)
        @RenderSection("Library", required: false)
        @RenderSection("Penalty", required: false)
        @RenderSection("Btech", required: false)
        @RenderSection("MBA", required: false)
        @RenderSection("supply", required: false)
        @RenderSection("HallTicket", required: false)
        @RenderSection("newFee", required: false)
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-columns">
            <div class="footer-column">
                <h3>About College</h3>
                <ul>
                    <li><a href="#">Future and current students</a></li>
                    <li><a href="#">Academic programs</a></li>
                    <li><a href="#">Research</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Library</h3>
                <ul>
                    <li><a href="#">Recreation</a></li>
                    <li><a href="#">Varsity Sports</a></li>
                    <li><a href="#">Alumni & Friends</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Resources</h3>
                <ul>
                    <li><a href="#">Resources for Current Students</a></li>
                    <li><a href="#">Resources for Faculty & Staff</a></li>
                    <li><a href="#">Bookstore</a></li>
                    <li><a href="#">Campus Map</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Contact</h3>
                <ul>
                    <li><a href="#">Careers@College</a></li>
                    <li><a href="#">Communications Office</a></li>
                    <li><a href="#">Give Now</a></li>
                    <li><a href="#">Disclaimer</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p><b>© 2024 NoCode College. All rights reserved.</b></p>
            <div class="social-icons">
                <a href="#"><img src="~/images/Facebook.png" alt="Facebook"></a>
                <a href="#"><img src="/images/twitter.png" alt="Twitter"></a>
                <a href="#"><img src="/images/instagram.png" alt="Instagram"></a>
                <a href="#"><img src="/images/linkedin.png" alt="LinkedIn"></a>
            </div>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>
